# Setup your firefase here and get the variables
VITE_API_KEY=<apiKey>
VITE_AUTH_DOMAIN=<authDomain>
VITE_DATABASE_URL=<databaseURL>
VITE_PROJECT_ID=<projectId>
VITE_STORAGE_BUCKET=<storageBucket>
VITE_MESSAGING_SENDER_ID=<messagingSenderId>
VITE_APP_ID=<appId>
VITE_MEASUREMENT_ID=<measurementId>
